/* Reset */
*, *::before , *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Root Variables */
:root{
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-headings: #000;
  --color-body: #333333;
  --color-white: #fff;
}