<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Travell</title>
  </head>
  <body>
    <section class="travell container block">
      <div class="travell__slides">
        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/travell.png" alt="">
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر 3 روزه</p>
            </div>
            <p class="slide__title">سفر به قلب کویر لوت</p>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/avatar-1.jpg" alt="">
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-2.jpeg" alt="">
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-3.jpg" alt="">
              </div>
              <div class="hidden-avatars">10+</div>
              <span class="slide__suggest">پیشنهاد</span>
            </div>
            <div class="slide__icons">
              <div>
                <i class="fas fa-heart" style="color: orangered"></i>
                <span>12</span>
                <i class="far fa-eye"></i>
                <span>24</span>
              </div>
              <div>
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/travell-2.jpg" alt="">
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر 3 روزه</p>
            </div>
            <p class="slide__title">سفر به قلب کویر لوت</p>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/avatar-1.jpg" alt="">
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-2.jpeg" alt="">
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-3.jpg" alt="">
              </div>
              <div class="hidden-avatars">10+</div>
              <span class="slide__suggest">پیشنهاد</span>
            </div>
            <div class="slide__icons">
              <div>
                <i class="fas fa-heart"></i>
                <span>12</span>
                <i class="far fa-eye"></i>
                <span>24</span>
              </div>
              <div>
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/travell-3.jpg" alt="">
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر 3 روزه</p>
            </div>
            <p class="slide__title">سفر به قلب کویر لوت</p>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/avatar-1.jpg" alt="">
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-2.jpeg" alt="">
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-3.jpg" alt="">
              </div>
              <div class="hidden-avatars">10+</div>
              <span class="slide__suggest">پیشنهاد</span>
            </div>
            <div class="slide__icons">
              <div>
                <i class="fas fa-heart"></i>
                <span>12</span>
                <i class="far fa-eye"></i>
                <span>24</span>
              </div>
              <div>
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/travell-4.jpg" alt="">
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر 3 روزه</p>
            </div>
            <p class="slide__title">سفر به قلب کویر لوت</p>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/avatar-1.jpg" alt="">
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-2.jpeg" alt="">
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-3.jpg" alt="">
              </div>
              <div class="hidden-avatars">10+</div>
              <span class="slide__suggest">پیشنهاد</span>
            </div>
            <div class="slide__icons">
              <div>
                <i class="fas fa-heart"></i>
                <span>12</span>
                <i class="far fa-eye"></i>
                <span>24</span>
              </div>
              <div>
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
